<%- include("../partials/header") -%>
<% if (user) { %>

<div class="details">

  <div class="detailsHeader">
    <h1 class="detailsTitle"><%= details.title %></h1>
    <h3><%= details.createdAt.toLocaleDateString() %></h3>
    <h5><%= details.email %></h2>
  </div>

  <div>
    <h2>Check In: </h2>
    <table>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Update </th>
      </tr>
      <% details.checkIn.map((val)=>{ %>
      <tr>
        <td>
          <%= val.createdAt.toLocaleDateString() %>
        </td>
        <td>
          <%= val.createdAt.toLocaleTimeString() %>
        </td>
        <td>
          <%= val.howItIsGoing %>
        </td>
      </tr>
      <% }); %>
    </table>
  </div>

  <div class="updateDiv">
    <h1 class="checkInTitle">How Are You Progressing Towards The Goals You Set:</h1>
    <form action="/detail/<%= id %>/checkIn" method="POST">
      <textarea rows="5" cols="50" type="text" class="form-control checkInTxt" name="howItIsGoing" required></textarea>
      <button type="submit" class="btn btn-primary btn-success">Submit</button>
      <a href="/detail/<%= details._id %>">
        <button type="button" class="btn btn-primary addAgoalBtn">
          Add A Goal
        </button>
      </a>
    </form>
  </div>

</div>

<% } else { %>

  <div class="row goal-field">
  
    <div class="col-lg-3 col-md-6 col-sm-6 goal-body">
      <div id="Title">
        <h4 class="goal-title"> Click LogIn</h4>
        <hr />
      </div>

      <div id="Date">
        <h4 class="goal-date">
          If You Have No Account You Will Be Redirected To Gmail To Create One
        </h4>
        <hr />
      </div>

      <div class="goal-buttons">
        <a href="/auth/google">
          <button type="button" class="btn btn-primary goal-innerButtons">
            SignUp/LogIn
          </button>
        </a>
      </div>
    </div>
  </div>

<% } %>
<%- include("../partials/footer") -%>