<%- include("../partials/header") -%>

<h1>Add A Goal</h1>
<ul>
  <% details.goals.map((val)=>{ %>

  <li><%= val.goal %> </li>
 
  <br>
  <form  action="/detail/<%= id %>/deleteGoal?_method=DELETE" method="POST">
    <button>
        <input type="text" name= id value="<%= val._id %>" hidden>
        Delete Goal
    </button>
  </form>
  <br>
  <a href="/detail/<%= id %>/edit/<%= val._id %>">Edit Goal</a>
  <form action="">
    <button>
        Edit Goal
    </button>
  </form>
  <br>

  <% }); %>
</ul>

<form action="/detail/<%= details._id %>/addGoal" method="POST">
  <textarea name="goal"></textarea>
  <button type="submit">Add</button>
</form>

<a href="/detail/<%= details._id %>/checkIn">Check In</a>


<ul>
    <% details.checkIn.map((val)=>{ %>

        <li>
            <%= val.howItIsGoing %>
        </li>

    <% }); %>
</ul>
<%- include("../partials/footer") -%>
