<%- include("../partials/header") -%>
<% if (user) { %>

<div class="editDiv">
  <div class="detailsHeader">
    <h1 class="detailsTitle"><%= detail.title %></h1>
    <h3><%= detail.createdAt.toLocaleDateString() %></h3>
    <h5><%= detail.email %></h2>
  </div>


  <form action="/detail/<%= home %>/edit/<%= id %>?_method=PUT" method="POST">
    <h2>Edit Goal(50 Character Count):</h2>
    <textarea rows="5" cols="50" type="text" class="form-control checkInTxt" name="goalEdit" maxlength="50" required>
      <%= goal.goal %>
    </textarea>
    <button class="btn btn-primary btn-success" type="submit">
      Save
    </button>
  </form>

</div>

<% } else { %>

  <div class="row goal-field">
  
    <div class="col-lg-3 col-md-6 col-sm-6 goal-body">
      <div id="Title">
        <h4 class="goal-title"> Click LogIn</h4>
        <hr />
      </div>

      <div id="Date">
        <h4 class="goal-date">
          If You Have No Account You Will Be Redirected To Gmail To Creat An Account
        </h4>
        <hr />
      </div>

      <div class="goal-buttons">
        <a href="/auth/google">
          <button type="button" class="btn btn-primary goal-innerButtons">
            SignUp/LogIn
          </button>
        </a>
      </div>
    </div>
  </div>

<% } %>
<%- include("../partials/footer") -%>