<%- include("../partials/header") -%>

<p>Welcome to</p>

<ol>
    <% Goals.forEach((val)  => { %>

        <li>
            Title: <%= val.title %>
            <br>
            Created On: <%= val.createdAt %>
            <br>
            <a href="/detail/<%= val._id %>">Go To Goal</a>
            <form action="/<%= val._id %>/delete?_method=DELETE" method="POST"> 
                <button type="submit">Delete</button>
            </form>


        </li>
       
    
    <% }); %>    

</ol>

<%- include("../partials/footer") -%>